.App {
  text-align: center;
  width:100%;
  height:100vh;

}

.appHeader {
  font-size: 3rem; 
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold; 
  color: white; 
}
.searchbar {
  width: 30rem;
  height:3rem;
}
.searchbar:hover {
  background-color: #333; /* Darken the background color */
  color: #fff; /* Change text color to white */
  box-shadow: 0 0 15px rgba(150, 244, 26, 0.5); /* Add a subtle box shadow */
}
.btn-add{
  height:3rem;
  width: 4rem;
  font-size: 1.5rem; 
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold; 

}
.time-class{
  font-size: 1rem; 
  font-family: 'AncientFont', sans-serif;
  font-weight: bold; 
  font-style: italic; 
  color: rgb(3, 3, 3); 
}
.completedTask {
  background-color: rgb(120, 123, 115);
  border:2px;
  border-color: red;
  text-decoration: 'line-through';
  box-shadow: 0 0 15px rgba(150, 244, 26, 0.5); 
  
}
.pendingTask{
  background-color: rgb(120, 123, 115);
  box-shadow: 0 0 15px rgba(255, 191, 73, 0.5); 
}
.TaskHeader {
  font-family: 'Roboto Slab', sans-serif;
  font-weight: bold; 
  font-size:2rem;
  text-decoration:underline;
}

.searchbar:hover {
  background-color: #333; /* Darken the background color */
  color: #fff; /* Change text color to white */
  box-shadow: 0 0 15px rgba(150, 244, 26, 0.5); /* Add a subtle box shadow */
}
.day{
  text-shadow: 0 0 25px rgba(255, 196, 79, 0.5); /* Add a subtle box shadow */

}

